
.poster{
  /* background: yellow; */
  width: 100vw;
  height: 100vh;
  /* background: rgb(100,100,100);
  background: black; */
  background: var(--gray);
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* 
.inOrderOfMeaning div{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.infoOverlay{
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: var(--gray);
  color: var(--grayFont);
  border-radius: 9px;
  padding: 10px;
}



.button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: var(--color);
  border-radius: 3px;
  backdrop-filter: blur(20px);
}


.button:hover{
  background: var(--gray);
}