* { 
    margin: 0;
    padding: 0;
}

.rectangle {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    margin:0;
  height: 6vw;
  width: 100%;
  background-color: #5189a3;
  font-family: 'Courier New', Courier, monospace; color: aliceblue; 
  font-size: 11pt;
}

#eject {
    height: 1.6vw; 
    margin-left: 17vw;
    position: absolute; right: 5%; top: 40%;
    border: 2px solid white;
    padding: 0.4vw;
    border-radius: 4px;
}

#dog {
    max-height: 40vw;
    border-radius: 10px;
    margin: auto;
    display: block;
}

h1 {
    text-align: center;
}



