
.book{
  /* background: yellow; */
  width: 100vw;
  height: 100vh;
  /* background: rgb(100,100,100);
  background: black; */
  /* background: var(--gray); */
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
