  html, body {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE / Edge legacy */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;              /* Chrome / Safari */
}
body {
 font-family:'Courier New', Courier, monospace;
 font-size: 1vw;
 background-image: url(images/aluminum/WebsiteBGaluminum.jpg);
 background-color: black;
 background-size: 95%;
 background-repeat: repeat;
 background-position: center center;
 background-attachment: fixed;
}
h1{
 position: relative;
 top:10%;
 left:5%;
 transform: rotate(-5deg);
 z-index: 900;
}
.highlight-white {
 background-color: white;
 color:black;
 padding:0 2%;
}
 .highlight-white:hover{
      background-color:grey;
      color:white;
      padding:0 2%;
    }
    
 .tutorial{
      position: absolute;
      top:17%;
      left:15%;
      width:33%;
      height:73%;
      font-size: 1.1vw;
      overflow: auto;
     }
     .step1{
      position: relative;
      top:4%;
      left:12%;
      width:70%;
    }
    .step2{
      position: relative;
      top:12%;
      left:10%;
      width:85%;
      transform: rotate(-10deg);
    }
    .step3{
      position: relative;
      top:20%;
      left:17%;
      width:65%;
      transform: rotate(-6deg);
    }
    .step4{
      position: relative;
      top:28%;
      left:20%;
      width:70%;
      transform: rotate(7deg);
    }
    .step5{
      position: relative;
      top:37%;
      left:28%;
      width:66%;
    }
.checklist{
 position:absolute;
 top:15%;
 left:54%;
 z-index: 1000;
}
#clevercats{
 position:absolute;
 bottom:9%;
 right:4%;
 width:43vw;
}
.ideas{
 position:absolute;
 top:40%;
 right:23.5vw;
 z-index: 900;
 height:23vh;
 width:12vw;
 overflow: auto;
}
.ideas img {
  width: 90%;
  cursor: pointer;
}
#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#overlay img {
  max-width: 90vw;
  max-height: 90vh;
}
#finished{
 position:fixed;
 bottom:2%;
 right:2%;
}
