html, body {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE / Edge legacy */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;              /* Chrome / Safari */
}
body {
          font-family:'Courier New', Courier, monospace;
          font-size: 1vw;
          background-image: url(images/perfume/WebsiteBGperfume.jpg);
          background-color: #000000;
          background-size: 100%;
          background-repeat: repeat;
          background-position: center center;
          background-attachment: fixed;
        }
        h1{
          padding-left: 7%;
          transform: rotate(-3deg)
        }
        .highlight-white {
          background-color: white;
          color:black;
          padding:0 4%;
        }
         .highlight-white:hover{
         background-color:orange;
         color:white;
         padding:0 2%;
         }
         .tutorial{
      position: absolute;
      top:18%;
      left:16%;
      width:33%;
      height:68%;
      font-size: 1.1vw;
      overflow: auto;
     }
     .step1{
      position: relative;
      top:6%;
      left:13%;
      width:82%;
      transform: rotate(3deg);
    }
    .step2{
      position: relative;
      top:7%;
      left:7%;
      width:60%;
    }
    .step3{
      position: relative;
      top:9%;
      left:17%;
      width:75%;
      transform: rotate(-8deg);
    }
    .step4{
      position: relative;
      top:13%;
      left:10%;
      width:70%;
      transform: rotate(-5deg);
    }
    .step5{
      position: relative;
      top:20%;
      left:13%;
      width:80%;
      transform: rotate(10deg);
    }
    .step6{
      position: relative;
      top:24%;
      left:25%;
      width:73%;
      transform: rotate(7deg);
    }
    .step7{
      position: relative;
      top:25%;
      left:10%;
      width:72%;
      transform: rotate(5deg);
    }
    .step8{
      position: relative;
      top: 28%;
      left:15%;
      width:60%;
      transform: rotate(5deg);
    }
    
        .checklist{
         position:absolute;
         top:10%;
         left:51%;
         width:30%;
        }
         .juniper-tip{
        font-size: 1vw;
        position:absolute;
        top:24%;
        left:53%;
        width:13vw;
         }
        .game{
            position: absolute;
            top:14%;
            left:65%;
        }
        .fruits img{
         transition: transform 0.8s ease;
         cursor: pointer;
        }
        #fruit1{
            position: absolute;
            top:25%;
            left:5%;
            z-index: 2;
        }
        #fruit2{
            position: absolute;
            top:32%;
            left:0%;
            z-index: 2;
        }
        #fruit3{
            position: absolute;
            top:34%;
            left:20%;
            z-index: 2;
        }
        #fruit4{
            position: absolute;
            top:36%;
            left:6%;
            z-index: 2;
        }
        #fruit5{
            position: absolute;
            top:38%;
            left:14%;
            z-index: 2;
        }
        .info{
            position:absolute;
            top:55%;
            left:70%;
            width:12%;
            text-align: right;
        }
         
         #finished{
         position:fixed;
         bottom:2%;
         right:2%;
        }