* {
  box-sizing: border-box;
  margin: 1px;
}

body {
  margin: 1px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: white;
}



.Landingpage-gif {
  position: fixed;
  top: 300px;
  left: 550px;
  width: 20vw;
  height: 20vh;
  object-fit: cover;
  z-index: -1;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}

.Headline {
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  color: black;
}

.Headline h1 {
  font-size: 100px;
  font-family: "ABCDiatypeMono", monospace;
  font-weight: 100;
}

.cta-button {
  font-size: 100px;
  font-family: "ABCDiatypeMono", monospace;
  font-weight: 100;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: black;
}

.cta-button:hover {
  color: blue;
}
