
.main{
  padding: 10px;
  background: black;
  color: white;
  height: 100lvh;
  /* position: relative; */
  position: fixed;
  width: 100lvw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* right: 0; */
  transition: 0.3s;
}

.overlay{
  position: absolute;
  z-index: 1;
  background: rgb(20,20,20);
  color: black;
  background-color: cyan;
  /* background: rgb(255,0, 0); */
  /* border-radius: 2px; */
  padding: 15px;
  /* color: rgb(90,90,90); */
  /* mix-blend-mode: difference; */
  /* backdrop-filter: blur(80px); */
  cursor: pointer;
  transition: 0.1s;
  border-radius: 20px;
  top: 10px;
  right: 10px
}

.intro{
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); */
  transition: 0.3s;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.intro *{
  font-size: 2rem;
  text-align: center;
  opacity: 1;
  color: white;
}