.projectInfo{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: 0.2s;
  min-height: 33vh;
  background: var(--grayTransparent);
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(20px);
}

.projectInfo button{
  position: absolute;
  bottom: 0;
  right: 0;
}

.projectInfo a{
  position: absolute;
  bottom: 0;
  background: var(--color);
  height: 20px;
  display: inline-block;
  display: flex;
  align-items: end;
  padding: 0 10px;
}

.projectInfoList{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  list-style: none;
}

.projectInfoList li{
  padding: 3px;
}

/* A */
/* .projectInfoList > li:nth-child(8n-7){
  background: var(--gray);
}

.projectInfoList > li:nth-child(8n-5){
  background: var(--gray);
}
.projectInfoList > li:nth-child(8n-2){
  background: var(--gray);
}
.projectInfoList > li:nth-child(8n-0){
  background: var(--gray);
} */
/* B */

.projectInfoList {
}
/* 
.projectInfoList > li{
  background: var(--gray);
  backdrop-filter: blur(20px);
} */

/* 

.projectInfoList > li:nth-child(10n+1){
  background: var(--gray);
}
.projectInfoList > li:nth-child(10n+3){
  background: var(--gray);
}
.projectInfoList > li:nth-child(10n+5){
  background: var(--gray);
}
.projectInfoList > li:nth-child(10n+7){
  background: var(--gray);
}
.projectInfoList > li:nth-child(10n+9){
  background: var(--gray);
}
.projectInfoList > li:nth-child(9n+8){
  background: var(--gray);
}  */



/* .projectInfoList > li:nth-child(8n-6){
  background: var(--gray);
}
.projectInfoList > li:nth-child(8n-3){
  background: var(--gray);
}
.projectInfoList > li:nth-child(8n-1){
  background: var(--gray);
} */