.projectInfo{
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  transition: 0.2s;
}


.projectInfoInner{
  position: relative;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.dropDown{
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.dropDownBG{
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(200,200,200,0.7);
  backdrop-filter: blur(20px);
}

.dropDownInner{
  position: relative;
  font-size: 0;
  margin: 0;
  text-transform: uppercase;
  padding: 0 4px 0 4px;
  /* max-width: 900px; */
}

.header{
  backdrop-filter: blur(20px);
  background: rgba(200,200,200,0.7);
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  padding: 0 4px;
}


.projectInfo ul{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  list-style: none;
  text-transform: uppercase;
  font-family: "UfficioMono-Bold";
  width: 100vw;
}
.projectInfo ul li,
.projectInfo p{
  font-family: "UfficioMono-Bold";
  color: black;
}

@media screen and (max-width: 1300){

  .projectInfo ul{
    grid-template-columns: 2fr 2fr 69px;
  }
  .projectInfo ul > li:nth-child(3){ display: none }
  .projectInfo ul > li:nth-child(4){ display: none }
  .projectInfo ul > li:nth-child(6){ display: none }
}

@media screen and (max-width: 1000){
  .projectInfo ul{
    grid-template-columns: 2fr 2fr;
  }
  .projectInfo ul > li:nth-child(3){ display: none }
  .projectInfo ul > li:nth-child(4){ display: none }
  .projectInfo ul > li:nth-child(5){ display: none }
  .projectInfo ul > li:nth-child(6){ display: none }
  .projectInfo ul > li:nth-child(7){ display: none }
}

.projectInfo button{
  position: absolute;
  bottom: 0;
  right: 0;
}

.projectInfo .link{
  position: absolute;
  bottom: 0;
  display: inline-block;
}

.projectInfoList{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  list-style: none;
}

.projectInfoList li{
  padding: 3px;
}
