
.bookContent{
  background-color: white;
  background: black;
}

.slideshow{
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 120px;
  left: 0;
  right: 0;
  /* height: 70vh; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: start;
}

.wrapper{
  position: absolute;
  display: flex;
  align-items: start;
  gap: 0;
  background: black;
  transition: 0.3s;
}

.slide{
  position: relative;
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img{
  height: 100%;
}


.thumbails{
  position: fixed;
  bottom: 0;
  gap: 50px;
  background: black;
  /* height: 80px; */
  padding: 10px 0 40px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.thumbnailItem{
  position: relative;
  height: 80px;
  opacity: 0.7;
}


.active{
  opacity: 1;
}

.thumbnailItem img{
  height: 100%;
}

.button{
  padding: 10px;
  background-color: gainsboro;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  cursor: pointer;
  background: var(--color);
}