

.button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100px);
  z-index: 100;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: var(--gray);
  border-radius: 3px;
  backdrop-filter: blur(20px);
}


.button:hover{
  background: var(--gray);
}