:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --gray: rgba(230,230,230, 0.97); */
  --gray: rgba(200,200,200, 0.90);
  --grayFont: rgba(180,180,180, 0.97);
  --color: cyan;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "UfficioMono-Normal";
  src: url(/fonts/UfficioMono-400.woff2);
}


@font-face {
  font-family: "UfficioMono-Bold";
  src: url(/fonts/UfficioMono-600.woff2);
}



@font-face {
  font-family: "UfficioMono-Black";
  src: url(/fonts/UfficioMono-900.woff2);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 , h4, h5, h6{
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "UfficioMono-Bold";
  font-family: Arial, Helvetica, sans-serif;
  font-family: "UfficioMono-Normal";
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
