:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "UfficioMono";
  src: url(/fonts/UfficioMono-600.woff2);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 , h4, h5, h6{
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "UfficioMono";
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
