
.scrollWrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  transition: 0.3s;
  background: rgb(248,248,248);
  /* background: red; */
  /* font-family: monospace; */
}

.scrollWrapper{
  color: black;
  /* border-bottom: 1px solid white; */
  /* border-bottom: 1px solid black; */

}

.scrollWrapper ul{
  position: relative;
}

.scrollWrapper ul > li:nth-of-type(2n){
}

.row{
  transition: 0.1s;
  cursor: pointer;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 100px 100px  1fr 1fr 70px;
  /* color: white; */
  padding: 0 10px;
  color: black;
  text-transform: uppercase;
}

.row:hover{
  background: white;
  mix-blend-mode: difference;
}

.rowGray{
  background: rgb(230,230,230) ;
}


.row > div:nth-child(1){
  text-align: left;
}

.row > div{
  display: flex;
  text-align: left;
  padding: 0 3px;

}

.row> div:not(:last-child){
  /* border-right: 1px solid white; */
}

.row > div:last-child{
  text-align: right;
}


.overlay{
  position: fixed;
  width: 400px;
  background: gainsboro;
  bottom: 10px;
  right: 10px;
  font-size: 0;
  z-index: 1;
}

.overlay img,
.overlay video{
  width: 100%;
  /* height: 100%; */

}