
.scrollWrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  transition: 0.3s;
  font-family: monospace;
}

.scrollWrapper{
  background: black;
  color: white;
  border-bottom: 1px solid white;
  /* border-bottom: 1px solid black; */

}

.row{
  transition: 0.1s;
  cursor: pointer;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  /* color: white; */
  padding: 0 10px;
}


.row > div:nth-child(1){
  text-align: left;
}

.row > div{
  display: flex;
  text-align: left;
  /* justify-content: center; */
  /* text-align: center; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 0 3px;

}

.row> div:not(:last-child){
  border-right: 1px solid white;
}

.row > div:last-child{
  text-align: right;
}


.overlay{
  position: fixed;
  /* width: 300px;
  height: 200px; */
  width: 400px;
  height: 300px;
  background: gainsboro;
  /* color: red; */
  top: 10px;
  right: 10px;
}

.overlay img{
  width: 100%;
  height: 100%;
}