.typeLarge{
  /*  */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
}

.typeLarge h1{
  /*  */
  font-size: 220px;
  text-align: center;
  font-family: "UfficioMono";
  letter-spacing: -1rem;
  line-height: 1;
}