body {
  min-height: 100vh;   
  margin: 5px;
  background-color: white;
  font-family: "BradfordLLEdu-Light"; font-weight: lighter;
  font-weight: normal;
  overflow-x: hidden;
}


html {
font-size: 16px;
}



@font-face {
  font-family: "BradfordLLEdu-Light";
  src: url("fonts/BradfordLLEdu-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


a{
text-decoration: none;
}


.headline-1-background {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  width: 99vw;
  /* border: 1px solid red; */
  z-index: -10;
}

/* h1 als Flex-Spalte */
.headline-1-background p {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}


/* alle Zeilen gleicher Style */
.headline-1-background .line {
  color: black;
  font-size: 1rem;
  line-height: 2.8rem;
  /* border: 1px solid green; */
  z-index: -9;
  text-align: center;
}

/* Ausrichtung */
.left   { align-self: flex-start; }
.center { align-self: center; }
.right  { align-self: flex-end; }

/* .indent-1 { margin-left: 40%; }
.indent-2 { margin-left: 10%; } */







/* -----------T E X T----------- */
.headline-2-background {
  font-family: "BradfordLLEdu-Light"; font-weight: lighter;
  position: relative;
  width: 99vw;
  /* border: 1px solid red; */
  z-index: -10;
}

/* h1 wird Flex-Spalte */
.headline-2-background h1 {
  font-family: "BradfordLLEdu-Light"; font-weight: lighter;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* alle Zeilen gleich stylen */
.headline-2-background .line {
  font-family: "BradfordLLEdu-Light"; font-weight: lighter;
  color: blue;
  font-size: 1rem;
  line-height: 1rem;
  /* border: 1px solid green; */
  width: 30vw;
  z-index: -9;
  text-align: center;
}

/*  Ausrichtung */
.left   { align-self: flex-start; }
.center { align-self: center; }
.right  { align-self: flex-end; }

/* .indent-1 { margin-left: 40%; }
.indent-2 { margin-left: 10%; } */







#blur-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  mask-image: radial-gradient(circle 500px at center, transparent 0%, black 70%);
  -webkit-mask-image: radial-gradient(circle 500px at center, transparent 0%, black 70%);
  z-index: 15;
}




/* Bühne bleibt fest + virtueller scrollen */
.wrapper{
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  pointer-events: none; /* damit link weiter funktioniert */
}


/* Text-Spalte  */
.headline-2-background{
  font-family: "BradfordLLEdu-Light"; font-weight: lighter;
  position: absolute;
  left: 50%;
  top: 0;
  width: 60vw;
  margin-left: calc(-60vw / 2); 
  z-index: 5;
  pointer-events: none;
}


/* Bilder-Spalte */
.images{
  position: relative;     
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 24px;
  margin-left: auto;
  z-index: 6;
  pointer-events: none;
}

.images {
  position: relative;
}

.images img {
  position: absolute;
}

.stone-1 {
  width: 20vw;      
  top: 6vh;          
  right: 6vw;        
}


.stone-2 {
  width: 40vw;      
  top: 30vh;          
  right: 55vw;  
}

.stone-3 {
  width: 20vw;      
  top: 60vh;          
  right: 25vw;  
}


.items{
  height: 600vh; /* Scroll-Länge:  */
}
