

.main a:hover{
    background: cyan;
    font-family: 'UfficioMono-Bold';
    /* color: var(--gray)  */
    color: black;
}

.main a{
    text-decoration: none;
}
.main p{
    color: var(--grayFont)
}

.main{
    background: white;
    text-transform: uppercase;
}