
.website{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(220,220,220,0.97);
}


.website iframe{
  position: absolute;
  width: 80%;
  height: 80%;
  background: gainsboro;
  border: none;
  outline: none;
  /* border: 2px solid white; */
  filter: var(--dropShadow);
  border-radius: 10px;
}


.type{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: red;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
}

.switch{
  position: fixed;
  top: 12px;
  right: 50px;
  background: cyan;
  padding: 5px;
  border-radius: 3px;
  z-index: 10;
  outline: 0;
  border: none;
  cursor: pointer;
}