

.slideshow{
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 120px;
  left: 0;
  right: 0;
  /* height: 70vh; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: start;
}

.goLeft, .goRight{
  position: absolute;
  height: 100%;
  width: calc(50vw - 50px);
  /* background-color: red; */
}

.goLeft{
  left: 0;
  cursor: w-resize;
}
.goRight{
  right: 0;
  cursor: e-resize;
}

.wrapper{
  position: absolute;
  display: flex;
  align-items: start;
  gap: 0;
  /* background: black; */
  transition: 0.3s;
}

.slide{
  position: relative;
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img{
  height: 100%;
  filter: var(--dropShadow);
}


.thumbails{
  position: fixed;
  bottom: 0;
  gap: 50px;
  left: 0;
  right: 0;
  /* height: 80px; */
  padding: 10px 0 40px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;
}

.thumbnailItem{
  position: relative;
  height: 80px;
  opacity: 0.7;
  user-select: none;
}


.active{
  opacity: 1;
}

.thumbnailItem img{
  height: 100%;
  user-select: none;
  pointer-events: none
}

.button{
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  cursor: pointer;
  background: var(--color);
}

.shadowLeft,
.shadowRight{
  position: absolute;
  width: 40px;
  height: 100%;
}
.shadowLeft{
  left: 50%;
  transform: translateX(-100%);
  background-color: red;
  background: linear-gradient(to right, rgba(217,217,217, 0) 0%, rgba(0,0,0, 0.5) 100%);
  mix-blend-mode: multiply;
}
.shadowRight{
  left: 50%;
  background: linear-gradient(to left, rgba(217,217,217, 0) 0%, rgba(20,20,20, 0.5) 100%);
  /* background-color: red; */
}