
@keyframes marquee{
  0%{
    transform: translateX(0%)
  }
  100%{

    transform: translateX(-50%)
  }
}


.background{
  overflow: hidden;
  position: relative; 
  top: 0; 
  left: 0;
  width: 100vw;
  max-height: 50vh;
  /* overflow: hidden; */
  /* height: 100vh;  */
  background: black; 
  z-index: -1;
}

.backgroundWrapper {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 65vh; 
  padding: 0;
  margin: 0;
  font-family: "UfficioMono-Black";
  color: white;
  line-height: 0.9;
  animation: marquee 16s infinite linear;
  width: max-content;
  text-transform: uppercase;
  /* transform: translateX(-50%); */
}