
@-webkit-keyframes shine {
  0% {
    transform: translateX(100%) rotate(var(--shine-deg));
  }
  100% {
    transform: translateX(-100%) rotate(var(--shine-deg));
  }
}

.scrollWrapper{
  /* --shine-deg: 45deg; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  /* transition: 0.3s; */
  /* background: rgb(200,200,200); */
  /* background: red; */
  /* font-family: monospace; */
  /* background: linear-gradient(
    135deg, 
    #C0C0C0 0%, 
    #F5F5F5 25%, 
    #808080 50%, 
    #C0C0C0 75%, 
    #F5F5F5 100%
  ); */
  
}

.scrollWrapperInner{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(120,120,120, 0.5); */
}
/* .scrollWrapper:before {
  content: "";
  top: 0;
  transform: translateX(100%) rotate(var(--shine-deg));
  width: 300%;
  height: 300%;
  position: absolute;
  background: linear-gradient(
    30deg,
    transparent 20%,
    transparent 40%,
    rgb(255, 255, 255, 0.5) 50%,
    rgb(255, 255, 255, 0.5) 55%,
    transparent 70%,
    transparent 100%
  );
  transition: transform 0.3s ease-in;
  transform: translateX(100%) rotate(var(--shine-deg));
}

.scrollWrapper:before {
  animation: shine 1s infinite ease-in;
} */


.scrollWrapper{
  color: black;
  /* border-bottom: 1px solid white; */
  /* border-bottom: 1px solid black; */

}

.scrollWrapper ul{
  position: relative;
  grid-template-rows: repeat(auto-fit, minmax(32px, 10vh));
}

.scrollWrapper ul > li:nth-of-type(2n){
}

.row, .rowCourse{
  /* transition: 0.1s; */
  cursor: pointer;
  display: grid;
  /* grid-template-columns: 50px 2fr 2fr 1fr 80px  2fr 2fr 69px; */
  /* grid-template-columns: 2fr 2fr 1fr 80px  2fr 2fr 69px; */
  grid-template-columns: 2fr 2fr 1fr 1fr  2fr 2fr 1fr;

  /* mix-blend-mode:multiply; */
  /* color: white; */
  /* padding: 0 10px; */
  /* color: transparent; */
  text-transform: uppercase;
  /* height: calc(); */
  /* height: clamp(10px, 4vh, 4vh); */
}

@media screen and (max-width: 1300){
    
  .row, .rowCourse{
    /* grid-template-columns: 69px 1fr 1fr 100px 100px  1fr 1fr 69px; */
    /* grid-template-columns: 30px 2fr 2fr 1fr 1fr 69px; */
    grid-template-columns: 2fr 2fr 1fr 1fr 69px;
  }
  .row > *:nth-child(4){ display: none;}
  .row > *:nth-child(5){ display: none;}
  .rowCourse > *:nth-child(4){ display: none;}
  .rowCourse > *:nth-child(5){ display: none;}
}

@media screen and (max-width: 1000){
    
  .row, .rowCourse{
    /* grid-template-columns: 30px 1fr 1fr 100px 100px  1fr 1fr 69px; */
    /* grid-template-columns: 30px 2fr 2fr 100px 69px; */
    grid-template-columns: 2fr 2fr 100px 69px;
  }
  .row > *:nth-child(4){ display: none;}
  .row > *:nth-child(5){ display: none;}
  .row > *:nth-child(7){ display: none;}
  .rowCourse > *:nth-child(4){ display: none;}
  .rowCourse > *:nth-child(5){ display: none;}
  .rowCourse > *:nth-child(7){ display: none;}
}

.row:hover{
  /* background: white;
  mix-blend-mode: difference; */
  mix-blend-mode: normal;
}
.row:hover > div{
  /* background: white;
  mix-blend-mode: difference; */
  background: black !important;
  background: rgb(0, 134, 243) !important; 
  color: black;
  /* mix-blend-mode: difference; */
  mix-blend-mode: normal;
  /* filter: drop-shadow(0 0 10px rgb(0, 157, 255)); */
}

.row > div:nth-child(1){
  text-align: left;
}

.row > div{
  display: flex;
  text-align: left;
  padding: 0 3px;
  /* align-items: center; */
  background: transparent;
  color: rgba(230,230,230, 0.97);
  /* color: black; */

}

.row div span{
  padding-top: 1px;
  display: inline-block;
}

.rowCourse > .rowGray,
.row > .rowGray{
  background: rgba(230,230,230, 0.97) !important;
  position: relative;
  mix-blend-mode: normal;
  color: black;
  /* background: transparent; */
  /* border-radius: 12px; */
}
.row > .rowGray span{
  
  color: black;
}

.row > .rowGray::after{
  filter: url(#screenPrintEffect);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: gray;
}




.row> div:not(:last-child){
  /* border-right: 1px solid white; */
}

.row > div:last-child{
  text-align: right;
}

.header,
.footer{
  position: fixed;
  background: black;
  color: black;
  z-index: 10000;
  left: 0;
  right: 0;
  text-transform: uppercase;
  background: rgba(230,230,230, 0.97) !important;
}

.header > div{
  /* background: black; */
  color: black;
}
.header:hover,
.footer:hover{
  /* background: black;
  color: white; */
  /* mix-blend-mode: normal; */
}
.footer{
  bottom: 0;
  right: calc(3 / 11 * 100vw);
}

