
.footer{
  display: flex; 
  gap: 10;
  align-items: center;
}

.tag{
  border: 1px solid white;
  padding: 2px 7px;
  border-radius: 10px;
  cursor: pointer;
  margin: 3px;
}

.tag.active,
.tag:hover{
  background: white;
  color: black;
}