
.footer{
  display: flex; 
  gap: 10;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  z-index: 10;
  left:0;
  bottom: 0;
  /* background: black; */
  /* color: white; */
}

.footer input{
  outline: none;
  border: none;
  background: black;
}

.footer span{
  display: flex; 
  align-items: center;
}

.tag{
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px 7px;
  /* border-radius: 10px; */
  cursor: pointer;
  margin: 3px;
  mix-blend-mode: multiply;
}

.tag.active,
.tag:hover{
  background: black;
  color: white;
}