
.footer{
  display: flex; 
  gap: 10;
  align-items: center;
  justify-content: flex-start;
  justify-content: flex-end;
  position: fixed;
  z-index: 10;
  left:0;
  bottom: 0;
  right: 0;
  background: var(--gray);
  text-transform: uppercase;
  background: black;
  color: white;
}

.footer input{
  outline: none;
  border: none;
  background: white;
  

}

.footer span{
  display: flex; 
  align-items: center;
  color: white;
}

.tag{
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  padding: 2px 7px;
  /* border-radius: 10px; */
  cursor: pointer;
  margin: 3px;
  /* mix-blend-mode: multiply; */
  color: white;
}

/* .tag.active,
.tag:hover{
  background: black;
  color: white;
} */