
.header {
  position: fixed;
  color: black;
  z-index: 10000;
  left: 0;
  right: 0;
  text-transform: uppercase;
  background: var(--gray) ;
}

.header > div{
  /* background: black; */
  color: black;
}
