
.footer{
  display: flex; 
  gap: 10;
  align-items: center;
  /* justify-content: flex-start;
  justify-content: flex-end; */
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  left:0;
  bottom: 0;
  right: 0;
  background: var(--gray);
  text-transform: uppercase;
  background: black;
  color: white;
  color: var(--gray);
  padding: 0 2px;
}

.footerItem{
  display: flex;
  align-items: center;
  gap: 10;
}

.footer input{
  outline: none;
  border: none;
  background: white;
  background-color: var(--gray);
  color: black;

}
.footer button{
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray);
}

.footer span{
  display: flex; 
  align-items: center;
  color: var(--gray);
}

.tag{
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  padding: 2px 7px;
  /* border-radius: 10px; */
  cursor: pointer;
  margin: 3px;
  /* mix-blend-mode: multiply; */
  color: white;
}


.overlayInfo{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "UfficioMono-Bold";
  z-index: 1000;
}

.overlayInfoText{
  position: absolute;
  background: cyan;
  font-family: "UfficioMono-Bold";
  width: 100%;
  max-width: 800px;
  text-transform: uppercase;
}

.overlayInfoText *{
  font-family: "UfficioMono-Bold";
  /* font-size: 1rem; */
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close > div{
  position: absolute;
  width: 80%;
  height: 2px;
  top: 50%;
  left: 50%;
  background: black;
}
.close > div:nth-child(1){
  transform: translate(-50%, -50%) rotate(45deg) ;
}
.close > div:nth-child(2){
  transform: translate(-50%, -50%) rotate(-45deg);
}