


.row, .rowCourse{
  /* transition: 0.1s; */
  cursor: pointer;
  display: grid;
  /* grid-template-columns: 50px 2fr 2fr 1fr 80px  2fr 2fr 69px; */
  /* grid-template-columns: 2fr 2fr 1fr 80px  2fr 2fr 69px; */
  grid-template-columns: 2fr 2fr 1fr 1fr  2fr 2fr 1fr;

  /* mix-blend-mode:multiply; */
  /* color: white; */
  /* padding: 0 10px; */
  /* color: transparent; */
  text-transform: uppercase;
  /* height: calc(); */
  /* height: clamp(10px, 4vh, 4vh); */
}

@media screen and (max-width: 1300){
    
  .row, .rowCourse{
    /* grid-template-columns: 69px 1fr 1fr 100px 100px  1fr 1fr 69px; */
    /* grid-template-columns: 30px 2fr 2fr 1fr 1fr 69px; */
    grid-template-columns: 2fr 2fr 1fr 1fr 69px;
  }
  .row > *:nth-child(4){ display: none;}
  .row > *:nth-child(5){ display: none;}
  .rowCourse > *:nth-child(4){ display: none;}
  .rowCourse > *:nth-child(5){ display: none;}
}

@media screen and (max-width: 1000){
    
  .row, .rowCourse{
    /* grid-template-columns: 30px 1fr 1fr 100px 100px  1fr 1fr 69px; */
    /* grid-template-columns: 30px 2fr 2fr 100px 69px; */
    grid-template-columns: 2fr 2fr 100px 69px;
  }
  .row > *:nth-child(4){ display: none;}
  .row > *:nth-child(5){ display: none;}
  .row > *:nth-child(7){ display: none;}
  .rowCourse > *:nth-child(4){ display: none;}
  .rowCourse > *:nth-child(5){ display: none;}
  .rowCourse > *:nth-child(7){ display: none;}
}


.row > div:nth-child(1){
  text-align: left;
}

.row > div{
  display: flex;
  text-align: left;
  padding: 0 3px;
  background: transparent;
}

.row div,
.row div span{
  padding-top: 1px;
  display: inline-block;
  color: var(--grayFont);
}

.rowCourse > .rowGray,
.row > .rowGray{
  background: var(--gray) !important;
  position: relative;
  mix-blend-mode: normal;
  color: white;
  /* isolation: isolate;
  mix-blend-mode: destination-out;
  -webkit-mix-blend-mode: destination-out; */
}
.row > .rowGray span{
  color: black;
  color: white;
}

.row > .isActive {
  background: cyan;
  /* background: black; */
  color: white;
  color: black;
}
.row > .isActive span{
  color: black;
  /* color: white; */
}

.row > .rowGray::after{
  filter: url(#screenPrintEffect);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: gray;
}




.row> div:not(:last-child){
  /* border-right: 1px solid white; */
}

.row > div:last-child{
  text-align: right;
}

.header,
.footer{
  position: fixed;
  background: black;
  color: black;
  z-index: 10000;
  left: 0;
  right: 0;
  text-transform: uppercase;
  background: var(--gray) !important;
}

.header > div{
  /* background: black; */
  color: black;
}
.header:hover,
.footer:hover{
  /* background: black;
  color: white; */
  /* mix-blend-mode: normal; */
}
.footer{
  bottom: 0;
  right: calc(3 / 11 * 100vw);
}

