
.header {
  position: fixed;
  color: black;
  z-index: 10000;
  left: 0;
  right: 0;
  text-transform: uppercase;
  background: transparent;
  /* background: var(--gray) ; */
  font-family: "UfficioMono-Bold";
}

.header > div{
  /* background: black; */
  color: black;
  font-family: "UfficioMono-Bold";
}
