

.overlay{
  position: fixed;
  width: 350px;
  /* width: calc((100vw - 50px - 80px - 69px) / 9 * 2 + 69px); */
  width: calc(3/11 * 100vw);
  height: calc(3/11 * 100vw);
  background: black;
  /* bottom: 70px;
  right: 20px; */
  bottom: 40px;
  bottom: 0;
  right: 0;
  font-size: 0;
  z-index: 1;
  /* z-index: -1; */
  min-height: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.overlay img,
.overlay video{
  width: 100%;
}