

.overlay{
  position: fixed;
  width: 350px;
  width: calc(3/11 * 100vw);
  height: calc(4/11 * 100vw);
  background: black;
  bottom: 40px;
  bottom: 0;
  right: 0;
  font-size: 0;
  z-index: 1;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.overlay img,
.overlay video{
  width: 100%;
}